<table>
<tr>
  <td><%= link_to "Accounts", :controller => 'accounts', :action => 'index' %></td>
</tr>
<tr>
  <td><%= link_to "AdresBoek", :controller => 'adresdbs', :action => 'index' %></td>
</tr>
<tr>
  <td><%= link_to "Artikels", :controller => 'artdbs', :action => 'index' %></td>
</tr>
<tr>
  <td><%= link_to "Databases", :controller => 'databases', :action => 'index' %></td>
</tr>
<tr>
  <td><%= link_to "Documenten", :controller => 'docdbs', :action => 'index' %></td>
</tr>
<tr>
  <td><%= link_to "Registraties", :controller => 'regdbs', :action => 'index' %></td>
</tr>
<tr>
  <td><%= link_to "Software", :controller => 'softdbs', :action => 'index' %></td>
</tr>
<tr>
  <td><%= link_to "Transakties", :controller => 'txes', :action => 'index' %></td>
</tr>
</table>
