<%= form_for(@docdb) do |f| %>

  <div class="field">
    <%= f.label :fname %><br />
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :fsize %><br />
    <%= f.text_field :fsize %>
  </div>
  <div class="field">
    <%= f.label :fdate %><br />
    <%= f.text_field :fdate %>
  </div>
  <div class="field">
    <%= f.label :fvol %><br />
    <%= f.text_field :fvol %>
  </div>
  <div class="field">
    <%= f.label :fhide %><br />
    <%= f.text_field :fhide %>
  </div>
  <div class="field">
    <%= f.label :fcat %><br />
    <%= f.text_field :fcat %>
  </div>
  <div class="field">
    <%= f.label :fdesc %><br />
    <%= f.text_field :fdesc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
