<%= form_for(@database) do |f| %>
  <% if @database.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@database.errors.count, "error") %> prohibited this database from being saved:</h2>

      <ul>
      <% @database.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :naam %><br />
    <%= f.text_field :naam %>
  </div>
  <div class="field">
    <%= f.label :beschrijving %><br />
    <%= f.text_field :beschrijving %>
  </div>
  <div class="field">
    <%= f.label :driver %><br />
    <%= f.text_field :driver %>
  </div>
  <div class="field">
    <%= f.label :tabel %><br />
    <%= f.text_field :tabel %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
